<div class="overflow-auto pb-2 px-4">
  <div class="flex items-center justify-between pb-2">
    <div class="flex items-center w-full mb-1">
      <a class="mr-2">
        <img class="rounded-full ml-1 min-w-[36px] max-h-[36px]" [src]="comment.user?.avatarUrl">
      </a>
      <div class="flex items-center">
        <div class="flex flex-col bg-[#EFF2F5] text-xs p-2 rounded-[16px] w-full">
          <div class="font-bold mb-0.5">{{comment.user?.fullName}}</div>
          <div>{{comment.content}}</div>
          <div class="grid grid-cols-2 max-h-[400px]">
            <div *ngFor="let media of comment.medias">
              <div *ngIf="media" class="p-2 rounded-lg relative">
                <img *ngIf="media.mediaType?.startsWith('image/')" [src]="media.url" [alt]="" width="100%"
                  class="h-[200px] object-cover">
                <video *ngIf="media.mediaType?.startsWith('video/')" [src]="media.url" width="100%" controls></video>
              </div>
            </div>
          </div>
        </div>
        <button class="rounded-full ml-2 cursor-pointer hover:bg-[#F2F2F2] size-8 px-1">
          <i class="fa-solid fa-ellipsis text-[#050505]"></i>
        </button>
      </div>
    </div>
  </div>
</div>