<!-- <div v-if="comments" id="Comments" class="max-h-[120px] overflow-auto pb-2 px-4">
  <div class="flex items-center justify-between pb-2" *ngfor="comment in comments" :key="comment">
    <div class="flex items-center w-full mb-1">
      <a :href="route('posts.index')" class="mr-2">
        <img class="rounded-full ml-1 min-w-[36px] max-h-[36px]" :src="comment.https://picsum.photos/id/8/300/320">
      </a>
      <div class="flex items-center w-full">
        <div class="flex items-center bg-[#EFF2F5] text-xs p-2 rounded-lg w-full">
          comment.text
        </div>
        <button *ngIf="true" (click)="deleteComment(comment.id)"
          class="rounded-full p-1.5 ml-2 cursor-pointer hover:bg-[#F2F2F2]">
          <i class="fa-solid fa-trash text-[#64676B]"></i>
        </button>
      </div>
    </div>
  </div>
</div> -->