<app-create-post-overlay *ngIf="createPostOverlay" [user]="user" (isClose)="closeCreatePost()"
  (isCreated)="emitCreatedPost($event)"></app-create-post-overlay>
<div id="create-post-box" class="w-full bg-white rounded-lg px-3 mt-4 shadow-md">

  <div class="flex items-center py-3 border-b">
    <button routerLink="/profile/me" class="mr-2">
      <img class="rounded-full ml-1 min-w-[36px] max-h-[36px]" [src]="user?.avatarUrl">
    </button>
    <div (click)="createPost()"
      class="flex items-center justify-start bg-[#EFF2F5] p-2 rounded-full w-full cursor-pointer">
      <div class="text-left pl-2">What's on your mind?</div>
    </div>
  </div>

  <div class="flex items-center py-3 border-b">
    <button (click)="createPost()"
      class="flex items-center justify-center p-1 hover:bg-[#F2F2F2] w-full rounded-lg mx-1 cursor-pointer">
      <i class="fa-solid fa-video text-[#F12848] mt-[1px]"></i>
      <div class="text-[#6F7275] font-bold ml-1">Live video</div>
    </button>
    <button (click)="createPost()"
      class="flex items-center justify-center p-1 hover:bg-[#F2F2F2] w-full rounded-lg mx-1 cursor-pointer">
      <i class="fa-solid fa-image text-[#43BE62] mt-[1px]"></i>
      <div class="text-[#6F7275] font-bold ml-1">Photo/video</div>
    </button>
    <button (click)="createPost()"
      class="flex items-center justify-center p-1 hover:bg-[#F2F2F2] w-full rounded-lg mx-1 cursor-pointer">
      <i class="fa-regular fa-face-smile text-[#F8B927] mt-[1px]"></i>

      <div class="text-[#6F7275] font-bold ml-1">Feeling/activity</div>
    </button>
  </div>

</div>