<app-navbar></app-navbar>
<div class="fixed w-full h-[100%] bg-[#F1F2F5]">
  <div class="flex space-x-10 w-full mt-[56px] h-[calc(100%-56px)] mx-auto">
    <div id="left-section" class="lg:block z-10 bg-white w-[420px]">
      <div class="pt-4 max-w-[400px] pr-2">
        <div class="text-2xl text-gray-800 font-bold pl-3 mb-3">
          Results
        </div>
        <button
          class="flex items-center bg-[#f0f2f5] justify-start w-full cursor-pointer hover:bg-[#E5E6E9] p-4 rounded-md">
          <i class="fa-solid fa-user-group text-[#5BD7C6] text-xl"></i>
          <div class="text-[15px] text-gray-800 font-bold pl-3">Home</div>
        </button>
        <button class="flex items-center justify-start w-full cursor-pointer hover:bg-[#E5E6E9] p-4 rounded-md">
          <i class="fa-solid fa-flag text-[#F2682C] text-xl"></i>
          <div class="text-[15px] text-gray-800 font-bold pl-3">Friends Requests</div>
        </button>
        <button class="flex items-center justify-start w-full cursor-pointer hover:bg-[#E5E6E9] p-4 rounded-md">
          <i class="fa-regular fa-clock text-[#21AAFA] text-xl"></i>
          <div class="text-[15px] text-gray-800 font-bold pl-3">Suggestions</div>
        </button>
        <button class="flex items-center justify-start w-full cursor-pointer hover:bg-[#E5E6E9] p-4 rounded-md">
          <i class="fa-solid fa-people-group text-[#20A9FD] text-xl"></i>
          <div class="text-[15px] text-gray-800 font-bold pl-3">All friends</div>
        </button>
        <button class="flex items-center justify-start w-full cursor-pointer hover:bg-[#E5E6E9] p-4 rounded-md">
          <i class="fa-solid fa-store text-[#48C0D8] text-xl"></i>
          <div class="text-[15px] text-gray-800 font-bold pl-3">Birthdays</div>
        </button>
        <button class="flex items-center justify-start w-full cursor-pointer hover:bg-[#E5E6E9] p-4 rounded-md">
          <i class="fa-solid fa-rotate-left text-[#32B4D0] text-xl"></i>
          <div class="text-[15px] text-gray-800 font-bold pl-3">Custom Lists</div>
        </button>
      </div>
    </div>
    <div id="right-section" class="lg:w-full lg:mx-0 mx-auto overflow-auto flex justify-center">
      <div id="friend-requests" class="mt-5">
        <span class="text-xl font-bold">People</span>
        <div class="flex flex-col gap-3 mt-5">
          <app-search-item *ngFor="let user of users" [user]="user"></app-search-item>
        </div>
      </div>
    </div>
  </div>
</div>