<div class="flex rounded-lg bg-white shadow-lg lg:w-[600px] items-center min-h-[80px]">
  <div class="max-w-40px p-3">
    <img class="rounded-full size-16" [src]="user.avatarUrl" alt="">
  </div>
  <div class="flex flex-col flex-1">
    <span class="cursor-pointer hover:underline font-bold truncate">{{user.fullName}}</span>
    <span class="text-[#888888] truncate">Followed by 10k</span>
  </div>
  <div class="flex gap-2 mt-2 font-semibold mr-4">
    <button *ngIf="!user.following" (click)="follow()"
      class="bg-[#0866ff] text-white rounded-md h-10 px-2">Follow</button>
    <button *ngIf="user.following" (click)="follow()"
      class="bg-[#0866ff] text-white rounded-md h-10 px-2">Followed</button>
    <button *ngIf="!user.friend" (click)="addFriend()" class="bg-[#ebf5ff] text-[#0866ff] rounded-md h-10 px-2">Add
      friend</button>
    <button *ngIf="user.friend" (click)="addFriend()" class="bg-[#e3e6ea] text-black rounded-md h-10 px-2">
      <i class="fa-solid fa-check text-black mr-1"></i>Friends
    </button>
    <!-- <button *ngIf="isSendFriendRequest" (click)="addFriend()" class="bg-[#ebf5ff] text-[#0866ff] rounded-md h-10 px-2">Cancel
      Request</button> -->
  </div>
</div>