<div class="friend-card flex flex-col bg-white rounded-lg shadow-lg w-[200px] max-h-[365px]">
  <div>
    <img class="cursor-pointer rounded-t-lg object-cover w-full" [src]="user.avatarUrl" alt="">
  </div>
  <div class="p-3">
    <div class="flex flex-col mt-[-8px]">
      <span class="cursor-pointer hover:underline font-bold truncate">{{user.fullName}}</span>
      <span class="text-[#888888] truncate">Followed by 10k</span>
    </div>
    <div class="flex flex-col gap-2 mt-2 font-semibold">
      <button *ngIf="!isRequest && !isAccepted" class="bg-[#ebf5ff] text-[#0866ff] rounded-md h-10">Add friend</button>
      <button *ngIf="isRequest" (click)="confirm()" class="bg-[#0866ff] text-white rounded-md h-10">Confirm</button>
      <button *ngIf="!isAccepted" class="bg-[#e4e6eb] rounded-md h-10">Delete</button>
      <button *ngIf="isAccepted" class="bg-[#e4e6eb] rounded-md h-10" disabled>Request Accepted</button>
    </div>
  </div>
</div>