<div id="post" class="w-full bg-white rounded-lg my-4 shadow-md">
  <div class="flex items-center py-3 px-3">
    <button (click)="true" class="mr-2">
      <img class="rounded-full ml-1 min-w-[42px] max-h-[42px]" [src]="post.user?.avatarUrl">
    </button>
    <div class="flex items-center justify-between p-2 rounded-full w-full">
      <div>
        <div class="font-extrabold text-[15px]">{{post.user?.fullName}}</div>
        <div class="flex items-center text-xs text-gray-600">
          {{post.createdAt}}
          <i class="fa-solid fa-earth-americas text-[#64676B] ml-2"></i>
        </div>
      </div>
      <div class="flex items-center">
        <button (click)="deletePost(post.id ?? 0)" class="rounded-full size-8 cursor-pointer hover:bg-[#F2F2F2]">
          <i class="fa-solid fa-ellipsis text-[#64676B]"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="px-5 pb-2 text-[17px] font-semibold">{{post.content}}</div>
  <div class="grid grid-cols-2 max-h-[400px]">
    <div *ngFor="let media of post.medias; let i = index">
      <div *ngIf="media" class="p-2 rounded-lg relative">
        <img *ngIf="media.mediaType.startsWith('image/')" [src]="media.url" [alt]="" width="100%"
          class="h-[200px] object-cover">
        <video *ngIf="media.mediaType.startsWith('video/')" [src]="media.url" width="100%" controls></video>
      </div>
    </div>
  </div>
  <div id="likes" class="px-5">
    <div class="flex items-center justify-between py-3 border-b">
      <div>
        <i class="fa-solid fa-thumbs-up text-[#1D72E2]"></i>
        {{post.reactsCount}} likes
      </div>
      <div (click)="onOpenComment()" class="text-sm text-gray-600 font-semibold cursor-pointer">
        {{post.commentsCount}} comments</div>
    </div>
  </div>
  <div class="flex justify-between px-5 py-2">
    <button (click)="addReact()" class="px-4 py-1 hover:bg-[#f0f0f0] w-full rounded-md"
      [ngClass]="{'text-[#1D72E2]': post.reacted }">
      <i class="fa-thumbs-up mr-1" [ngClass]="{'fa-regular': !post.reacted, 'fa-solid': post.reacted}"></i>Like</button>
    <button class="px-4 py-1 hover:bg-[#f0f0f0] w-full rounded-md"><i
        class="fa-regular fa-comment mr-1"></i>Comment</button>
    <button class="px-4 py-1 hover:bg-[#f0f0f0] w-full rounded-md"><i class="fa-solid fa-share mr-1"></i>Share</button>
  </div>

  <div id="comments" class="px-3">
    <div id="create-comment" class="flex items-center justify-between py-2">
      <div class="flex items-center w-full">
        <a class="mr-2">
          <img class="rounded-full ml-1 min-w-[36px] max-h-[36px]" [src]="user.avatarUrl">
        </a>
        <div class="flex flex-col w-full rounded-[20px] bg-[#EFF2F5]">
          <div class="flex items-center justify-center p-1.5 w-full">
            <input id="comment" [(ngModel)]="commentRequest.content" class="w-full mx-1 border-none p-0 text-sm
          bg-[#EFF2F5] placeholder-[#64676B]
        outline-0 focus:outline-0" placeholder="Write a public comment..." type="text">
          </div>
          <div class="flex flex-wrap gap-1">
            <div *ngFor="let file of selectedFiles">
              <img *ngIf="file.type.startsWith('image/')" [src]="file.preview" [alt]="file.file.name" width="100%"
                class="h-[150px] object-cover">
              <video *ngIf="file.type.startsWith('video/')" [src]="file.preview" width="100%" controls></video>
            </div>
          </div>
          <div class="flex items-center justify-between p-1.5 w-full">
            <div class="flex items-center">
              <button class="hover:bg-gray-200 rounded-full size-8 cursor-pointer">
                <input id="image" type="file" class="hidden" (change)="onFileSelected($event)">
                <label for="image" class="cursor-pointer">
                  <i class="fa-solid fa-image text-[#43BE62]"></i>
                </label>
              </button>
              <button class="hover:bg-gray-200 rounded-full size-8 cursor-pointer">
                <i class="fa-regular fa-face-smile text-[#F8B927]"></i>
              </button>
              <button class="hover:bg-gray-200 rounded-full size-8 cursor-pointer">
                <i class="fa-solid fa-video text-[#F12848]"></i>
              </button>
            </div>
            <button type="button" (click)="uploadFiles()"
              class="flex items-center text-sm px-2 rounded-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-1">
              <i class="fa-solid fa-check text-white mr-1"></i>
              Send
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="comment-list" *ngIf="showComment">
        <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
    </div>
  </div>
</div>